$header-height: 40vh


    
body
    min-height: 100vh + $header-height
    
header
    width: 100%
    height: $header-height
    background-image: url("../img/FACADE-ORPHELINAT.jpg")
    background-repeat: no-repeat
    background-size: cover
    background-position-y: 25%

#who
    width: 60%
    margin-left: auto
    margin-right: auto
    border: 1px solid red
    padding: 3em
    border-radius: 30px
    background-color: salmon

#form
    width: 60%

@mixin anim()
    animation-duration: 7s
    animation-iteration-count: none
    animation-name: message
    animation-fill-mode: forwards   

.failed
    color: red
    @include anim

.success
    color: chartreuse
    @include anim
    
@keyframes message 
    0%
        opacity: 1
    100%
        opacity: 0 

.destroy-child
    text-decoration: none !important